  /* *{
    outline: 1px Solid red;
  }  */


.navbar-brand{
    font-size: 1.8em;
}

.nav-link{
    font-size: 1.2em;
    color: white;
}

.nav-link:hover{
  border:2px solid white;
  color: white;
}

.btn{
    width: 150px;
    position: absolute;
    right: 0;
    margin-right: 20px; 
  }

  .checkoutIcon{
    background-color: black;
    width: 130px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 20px; 
    
 } 

 .checkoutIcon:hover{
  cursor: pointer;
  border:2px Solid white;
  #text1{
    color:white;
  }
  #checkout{
    color:white;
  }
 }

 #shoppingCart{
  height:20px;
  width: 20px;
  position: absolute;
  right: 0;
  margin-right: 105px; 
  margin-top: 10px;
} 

#text1{
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 6px; 
  color: #bababa;
  text-decoration: none;  
  font-size: 1.1em;
}

.login{
  background-color: black;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 0;
  margin-right: 150px; 
} 
.login:hover{
  cursor: pointer;
  border:2px Solid white;
  #text2{
    color:white;
  }
 }

 #loginIcon{
  height:20px;
  width: 20px;
  position: absolute;
  right: 0;
  margin-right: 70px; 
  margin-top: 10px;
} 

#text2{
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 5px; 
  color: #bababa;
  text-decoration: none;
  font-size: 1.2em;
}

#checkout{
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 5px; 
  color: #bababa;
  text-decoration: none;
  font-size: 1.2em;
}

#logo{
  height:100px;
  width: 190px;
}

#text3{
  text-align: center;
  font-family:fantasy;
  font-size: 4em;
}

.col-md-4{
  margin: 0 auto;
  width: 350px;
}

.div2 {
  height: 100px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#btn1{
  width: 150px;
  height: 50px;
}

#udetails{
  width: 350px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;

}

@media(max-width: 995px)
  {

    .nav {
      display: block;
    }
    .checkoutIcon{
      
      background-color: black;
      width: 130px;
      height: 40px;
      position: absolute;
      right: 0;
      margin-right: 80px; 
      top: 20px;
      
   } 

   .login{
    background-color: black;
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 210px; 
    top: 20px;
  } 

  #logo{
    height: 60px;
    width: 130px;
  }

  #section2{
  
    height: 220px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    
  }
  
  .col-md-4{
    margin: 0 auto;
    width: 350px;
  }
  #udetails{
    width: 350px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%);
  }

 

 }